###############################################################################
# Project : INT8 CNN Accelerator
# Device  : Xilinx Spartan-6
# Tool    : Xilinx ISE Design Suite
###############################################################################

#########################################
# Clock
#########################################

NET "clk" LOC = "<CLOCK_PIN>";
NET "clk" IOSTANDARD = LVCMOS33;

TIMESPEC TS_CLK = PERIOD "clk" 20 ns HIGH 50%;

#########################################
# Reset
#########################################

NET "rst" LOC = "<RESET_PIN>";
NET "rst" IOSTANDARD = LVCMOS33;

#########################################
# Start Button
#########################################

NET "start" LOC = "<START_PIN>";
NET "start" IOSTANDARD = LVCMOS33;

#########################################
# Feature Input (INT8)
#########################################

NET "feature[0]" LOC = "<F0_PIN>";
NET "feature[1]" LOC = "<F1_PIN>";
NET "feature[2]" LOC = "<F2_PIN>";
NET "feature[3]" LOC = "<F3_PIN>";
NET "feature[4]" LOC = "<F4_PIN>";
NET "feature[5]" LOC = "<F5_PIN>";
NET "feature[6]" LOC = "<F6_PIN>";
NET "feature[7]" LOC = "<F7_PIN>";

NET "feature[*]" IOSTANDARD = LVCMOS33;

#########################################
# Weight Input (INT8)
#########################################

NET "weight[0]" LOC = "<W0_PIN>";
NET "weight[1]" LOC = "<W1_PIN>";
NET "weight[2]" LOC = "<W2_PIN>";
NET "weight[3]" LOC = "<W3_PIN>";
NET "weight[4]" LOC = "<W4_PIN>";
NET "weight[5]" LOC = "<W5_PIN>";
NET "weight[6]" LOC = "<W6_PIN>";
NET "weight[7]" LOC = "<W7_PIN>";

NET "weight[*]" IOSTANDARD = LVCMOS33;

#########################################
# CNN Output (INT8)
#########################################

NET "cnn_output[0]" LOC = "<O0_PIN>";
NET "cnn_output[1]" LOC = "<O1_PIN>";
NET "cnn_output[2]" LOC = "<O2_PIN>";
NET "cnn_output[3]" LOC = "<O3_PIN>";
NET "cnn_output[4]" LOC = "<O4_PIN>";
NET "cnn_output[5]" LOC = "<O5_PIN>";
NET "cnn_output[6]" LOC = "<O6_PIN>";
NET "cnn_output[7]" LOC = "<O7_PIN>";

NET "cnn_output[*]" IOSTANDARD = LVCMOS33;

#########################################
# Done Signal
#########################################

NET "done" LOC = "<DONE_LED_PIN>";
NET "done" IOSTANDARD = LVCMOS33;
